

.ft-bg {
    background-color: #181823;
    padding-top: 80px;
}


.footer-logo img {
    min-width: 131px;
    padding-bottom: 32px;
}
.ft-items {
    display: flex;
    gap: 16px;
}
.footer-nav {
    display: flex;
    gap: 50px;
    
}
.column-ft a {
    color: white;
   
}
.ft-item  {
    padding-bottom: 25px;
}
.ft-wrapper {
    display: flex;
    justify-content: space-around;
    
}
.ft-text-bottom {
   padding: 40px 0px 40px 155px;
   color: #8491A0;
}
